[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "bellreg"]
	path = bellreg
	url = https://github.com/fndemarqui/bellreg
	shallow = true
	registered = true
[submodule "peppm"]
	path = peppm
	url = https://github.com/fndemarqui/peppm
	shallow = true
	registered = true
[submodule "YPBP"]
	path = YPBP
	url = https://github.com/fndemarqui/ypbp
	shallow = true
	registered = true
[submodule "YPPE"]
	path = YPPE
	url = https://github.com/fndemarqui/yppe
	shallow = true
	registered = true
[submodule "covid19br"]
	path = covid19br
	url = https://github.com/fndemarqui/covid19br
	shallow = true
	registered = true
