[submodule ".registry"]
	path = .registry
	url = https://github.com/fndemarqui/fndemarqui.r-universe.dev
	branch = HEAD
[submodule "planex"]
	path = planex
	url = https://github.com/fndemarqui/planex
[submodule "reglin"]
	path = reglin
	url = https://github.com/fndemarqui/reglin
[submodule "ufmgthesis"]
	path = ufmgthesis
	url = https://github.com/fndemarqui/ufmgthesis
[submodule "useR"]
	path = useR
	url = https://github.com/fndemarqui/useR
